<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Detail Data Karyawan</title>
</head>

<body>
    <div class="container-fluid">
        <div class="jumbotron mt-5">
            <div>
                <h1 class="text-center">Tabel Detail Karyawan</h1>
                <br><br>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>NIK</th>
                                <th>Nama</th>
                                <th>Tempat / Tgl Lahir</th>
                                <th>Jenis Kelamin</th>
                                <th>Golongan Darah</th>
                                <th>Alamat</th>
                                <th>RT</th>
                                <th>RW</th>
                                <th>Kelurahan</th>
                                <th>Kecamatan</th>
                                <th>Agama</th>
                                <th>Status Perkawinan</th>
                                <th>Pekerjaan</th>
                                <th>Kewarganegaraaan</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="karyawan : ${karyawanList}">
                                <td th:text="${karyawan.id}">ID</td>
                                <td th:text="${karyawan.nik}">NIK</td>
                                <td th:text="${karyawan.nama}">Nama</td>
                                <td th:text="${karyawan.ttl}">Tempat /Tgl Lahir</td>
                                <td th:text="${karyawan.jk}">Jenis Kelamin</td>
                                <td th:text="${karyawan.gd}">Golongan Darah</td>
                                <td th:text="${karyawan.alamat}">Alamat</td>
                                <td th:text="${karyawan.rt}">RT</td>
                                <td th:text="${karyawan.rw}">RW</td>
                                <td th:text="${karyawan.kel}">Kelurahan</td>
                                <td th:text="${karyawan.kec}">Kecamatan</td>
                                <td th:text="${karyawan.agama}">Agama</td>
                                <td th:text="${karyawan.sts}">Status Perkawinan</td>
                                <td th:text="${karyawan.pkr}">Pekerjaan</td>
                                <td th:text="${karyawan.kwn}">Kewarganegaraaan</td>
                                <td>
                                    <a th:href="@{/}" class="btn btn-primary btn-sm">Kembali</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
</body>

</html>