<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Edit Karyawan</title>
</head>

<body>
    <div class="container">
        <div class="jumbotron mt-5 col-8 mx-auto">
            <div>
                <h1 class="text-center">Edit Karyawan</h1>
                <br><br>
                <form action="#" th:action="@{/save}" th:object="${karyawan}" method="POST">
                    <div class="row mb-3">
                        <input type="hidden" class="form-control" th:field="*{id}">
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="">NIK Karyawan :</label>
                            <input type="number" class="form-control" th:field="*{nik}">
                        </div>
                        <div class="col">
                            <label for="">Nama Karyawan :</label>
                            <input type="text" class="form-control" th:field="*{nama}">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="">Tempat / Tgl Lahir :</label>
                            <input type="text" class="form-control" th:field="*{ttl}">
                        </div>
                        <div class="col">
                            <label for="">Jenis Kelamin :</label>
                            <input type="text" class="form-control" th:field="*{jk}">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="">Golongan Darah :</label>
                            <input type="text" class="form-control" th:field="*{gd}">
                        </div>
                        <div class="col">
                            <label for="">Alamat :</label>
                            <input type="text" class="form-control" th:field="*{alamat}">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="">RT :</label>
                            <input type="number" class="form-control" th:field="*{rt}">
                        </div>
                        <div class="col">
                            <label for="">RW :</label>
                            <input type="number" class="form-control" th:field="*{rw}">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="">Kelurahan :</label>
                            <input type="text" class="form-control" th:field="*{kel}">
                        </div>
                        <div class="col">
                            <label for="">Kecamatan :</label>
                            <input type="text" class="form-control" th:field="*{kec}">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="">Agama :</label>
                            <input type="text" class="form-control" th:field="*{agama}">
                        </div>
                        <div class="col">
                            <label for="">Status Perkawinan :</label>
                            <input type="text" class="form-control" th:field="*{sts}">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="">Pekerjaan :</label>
                            <input type="text" class="form-control" th:field="*{pkr}">
                        </div>
                        <div class="col">
                            <label for="">Kewarganegaraan :</label>
                            <input type="text" class="form-control" th:field="*{kwn}">
                        </div>
                    </div>
                    <br>
                    <button th:href="@{/}" class="btn btn-primary float-right">Kembali</button>
                    <button type="submit" class="btn btn-success float-right mx-1">Save</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
</body>

</html>